$bg-gray: #F4F2EE; 
$text-white: #fff; 
$bg-light-yellow: #FFE7B3; 
$bg-light-gray: #ACACAC; 
$bg-yellow: #FEBD2F; 
$text-green: #16B66B; 
$text-gray: #ADAAAA; 
$text-black: #000; 
$bg-light-green: #E9F9F1; 